*{ 
    margin: 0px;
    padding: 0px;
}

.menu-container{
    background-color: black;
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    
}
.logo-photo{
    width: 120px;
}

.menus{
    display: flex;
    
}

.item{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
}
.item:hover{
    color: blue;
    background-color: brown;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /* border: 2px solid gray; */
    color: white;
    background-image: url("./Images/background.png"), linear-gradient(45deg, rgb(8, 8,8), rgb(53, 53, 53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.photo-img{
    width: 300px;
}

.title{
    font-size: 55px;
    font-weight: bold;
}

.description{
    font-size: 18px;
    margin-top: 15;
    margin-bottom: 15px;
}
.button{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;

}
.about-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 10px;
}

.title-about{
    text-align: center;
        padding-top: 10px;
}

.box{
    width: 250px;
    height: 350px;
    box-shadow: 4px 4px 50px gray;
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px}

.icon{
    width: 70px;
}

.box-button{
    background-color: gray;
    margin-top: 10px;
}
.box-title{
    padding: 10px;
}

.box-description{
    padding: 10px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(24, 23, 23);
    margin-bottom: 50px;
}